.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home {
  font-size: 40px;
}
/* CANVAS  */

#canvas {
  padding: 50px 0;
}

/* LANDING PAGE */

#landing-page {
  display: flex;
  flex-direction: row;
}

#landing-page h1 {
  flex: 3;
  padding: 50px 0 0 50px;
}

#buttons {
  flex: 4;
  display: flex;
  flex-direction: column;
}

#landing-page-button1 {
  width: 250px;
  margin: 165px 50px 0 200px;
}

#landing-page-button2 {
  width: 250px;
  margin: 50px 50px 50px 200px;
}

/* CHILD DASHBOARD */

.avatar-container {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

/* .progress {
  padding-top: 20px;
} */

.progress-circles {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.progress-circle {
  flex: 1;
}

.progress {
  transform: rotate(-90deg);
}

.svg-circle-text {
  font-size: 2rem;
  writing-mode: tb-rl;
  text-anchor: middle;
  fill: black;
  font-size: 20px;
}

.points-label {
  padding-bottom: 20px;
}