.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home {
  font-size: 40px;
}
/* CANVAS  */

#canvas {
  /* padding: 50px 0; */
  margin-top: 20px;
  margin-bottom: 13px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px #282c34d0;
}

/* LANDING PAGE */

#landing-page {
  display: flex;
  flex-direction: row;
}

#landing-page h1 {
  flex: 3;
  padding: 50px 0 0 50px;
}

#buttons {
  flex: 4;
  display: flex;
  flex-direction: column;
}

#landing-page-button1 {
  width: 250px;
  margin: 165px 50px 0 200px;
}

#landing-page-button2 {
  width: 250px;
  margin: 50px 50px 50px 200px;
}

/* CHILD DASHBOARD */

.avatar-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.reward-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}
.reward-box {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  max-width: 700px;
  padding-bottom: 30px;
}

/* .progress {
  padding-top: 20px;
} */

.progress-circles {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.progress-circle {
  flex: 1;
  margin: 10%;
}

.dailyProgress {
  transform: rotate(-90deg);
  border-radius: 50%;
  box-shadow: 0 4px 10px 2px rgba(65, 62, 62, 0.2),
    0 0px 15px 0 rgba(75, 72, 72, 0.19);
}
.progress {
  transform: rotate(-90deg);
  border-radius: 50%;
  box-shadow: 0px 4px 12px 7px rgba(182, 139, 64, 0.283),
    0px 0px 5px 0px rgba(215, 198, 129, 0.344);
}

.svg-circle-text {
  font-size: 2rem;
  writing-mode: tb-rl;
  text-anchor: middle;
  fill: black;
  font-size: 20px;
}

.points-label {
  padding-bottom: 20px;
}

.child-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.get-moving-button {
  max-width: 500px;
}

.not-child-link {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  color: #ef476f;
  font-weight: 600;
  border: 1px solid #ef476f;
  padding: 7px;
  border-radius: 5px;
}
